.ProductsList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.ProductsList-products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ProductsList-heading {
  padding: 20px;
}